---
layout: base.njk
title: Contact
permalink: "/contact/"
---

<div class="row align-items-center">

  <!-- FORM -->
  <div class="col-md-6 mb-4">
    <h1>Contact Me</h1>
    <p>Feel free to reach out for collaborations or inquiries.</p>

    <form>
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Your name">
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Your email">
      </div>

      <div class="mb-3">
        <label class="form-label">Message</label>
        <textarea class="form-control" rows="4" placeholder="Your message"></textarea>
      </div>

      <button type="submit" class="btn btn-dark">Send Message</button>
    </form>
  </div>

  <!-- IMAGE -->
  <div class="col-md-6 text-center">
    <img src="/assets/images/contact.jpeg" class="contact-img">
  </div>

</div>